@charset "utf-8";

/*css document*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: mediumpurple;
}

.main_wrapper {
    width: 1000px;
    height: auto;
    margin: auto;
}

.header_wrapper {
    width: 1000px;
    height: 110px;
    background-color: cornflowerblue;
}

#navbar {
    width:auto;
    height: 75px;
    background-color: black;
    color: aliceblue;
}

#menu {
    padding: 0;
    line-height: 36px;
    margin-top: 5px;
    float: left;
}

#menu li {
    list-style: none;
    display: inline;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}

#menu a:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bolder;
}

#form {
    float: right;
    line-height: 50px;
    padding-right: 5px;
}

.content_wrapper {
    width: 1000px;
    height: 600px;
    background-color: coral;
}

#right_content {
    width: 800px;
    height: 600px;
    background-color: chocolate;
    float: right;
}

#left_sidebar {
    width: 200px;
    height: 600px;
    background-color: chartreuse;
    float: left;
}

.footer {
    width: 1000px;
    height: 100px;
    background-color: grey;
    color: azure;
    clear: both;
}

#sidebar_title {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cats {
    text-align: center;
    padding: 10px;
}

#cats li {
    list-style: none;
    margin: 8px;
}

#cats a {
    color: red;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

#cats a:hover {
    color: orchid;
    text-decoration: underline;
    font-weight: bold;
}

#headline {
    background-color: black;
    color: white;
    width: 780px;
    height: 35px;
    padding: 10px;
}

#headline_content {
    float: right;
}
